recursive-include pilot/static *
exclude .travis.yml
exclude appveyor.yml
exclude azure-pipelines.yaml
exclude pytest.ini
exclude Dockerfile
prune .*
prune dist
prune build
prune instance
prune gobgp
prune assets