.tab-stop-small {
    min-width: 16ch;
    display: inline-block;
}

.rule-list * {
    font-family: monospace;
    font-weight: normal;
}

.rule-list dl {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.rule-list dt {
    display: inline-block;
    min-width: 48ch;
    margin: 0;
}

.rule-list dd {
    display: inline;
    margin: 0;
}

.rule-list dd::before {
    content: "=>";
    display: inline;
}

.rule-list dd::after {
    content: "\A";
    display: block;
}