.tab-stop-small {
    min-width: 16ch;
    display: inline-block;
}

.rule-list * {
    font-family: monospace;
    font-weight: normal;
}

.rule-list table {
    width: 100%;
    border-collapse: collapse;
    display: contents;
}

.rule-list tbody {
    display: contents;
}

.rule-list tr {
    display: grid;
    grid-template-columns: 48ch 4ch 1fr;
}

.rule-list tr:hover {
    background: #333;
    color: white;
}