<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - Pilot</title>

    <link rel="stylesheet" href="{{ url_for('static', filename="lib/bootstrap/dist/css/bootstrap.css") }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/site.css") }}"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
                <a href="{{ url_for('gobgp_web.index') }}" class="navbar-brand">Pilot</a>
            </div>
    </nav>
</header>

<main role="main" class="mt-5 mb-2">
        <div class="container">
            <!-- child template -->
            {% block content %}
            {% endblock %}
        </div>
</main>

<footer class="container">
        <hr />
    <p>&copy; <span class="fill-current-year">2020</span> James Swineson. <a href="https://github.com/Jamesits/pilot">GitHub</a>
    </p>
</footer>

<script src="{{ url_for('static', filename="lib/jquery/dist/jquery.js") }}"></script>
<script src="{{ url_for('static', filename="lib/bootstrap/dist/js/bootstrap.js") }}"></script>
<script src="{{ url_for('static', filename="js/site.js") }}"></script>
</body>
</html>
